<mat-card class="content">
    <img class="main-img" [attr.src]="article.urlToImage" [attr.alt]="article.title">


    <section *ngIf="isSmall">
        <h5 class="mat-h5">{{article.source.name}}&nbsp;&nbsp;{{article.author}}&nbsp;&nbsp;{{article.publishedAt |
            date}}&nbsp;&nbsp;<span class="comments-amount-info-color">{{comments.length}} Comments</span></h5>
        <h1 class="mat-h1">
            {{article.title | uppercase}}
        </h1>
        <h2 class="mat-h2 text-overflow">
            {{article.description}}
        </h2>

        <h3 class="mat-h3 text-overflow info-content">
            {{article.content}}
        </h3>
        <div class="read-more" fxLayout fxLayoutAlign="center">
            <button (click)="goToArticle()" mat-raised-button color="warn">Read more</button>
        </div>
    </section>


    <section class="info-container" *ngIf="!isSmall">
        <section class="info-title">
            <h1 class="mat-h1">
                {{article.title | uppercase}}
            </h1>

            <h2 class="mat-h2 text-overflow">
                {{article.description}}
            </h2>

            <h3 class="mat-h3 text-overflow info-content">
                {{article.content}}
            </h3>

            <div class="read-more" fxLayout fxLayoutAlign="center">
                <button (click)="goToArticle()" mat-raised-button color="warn">Read more</button>
            </div>
        </section>

        <section class="left-side">
            <h5 class="mat-h5">
                {{article.source.name}}
            </h5>
            <h5 class="mat-h5">
                {{article.author}}
            </h5>
            <h5 class="mat-h5">
                {{article.publishedAt | date}}
            </h5>
            <h5 class="mat-h5 comments-amount-info-color ">
                {{comments.length}} Comments
            </h5>
        </section>
    </section>

    <section class="comments-container">
        <h3 class="mat-h3">
            {{comments.length}} Comments
        </h3>

        <div *ngFor="let comment of comments">
            <div class="comment-item" fxLayout fxLayoutAlign="space-between center" fxLayoutGap="10px">
                <div>
                    <img class="avatar" [attr.src]="comment.avatar" [attr.alt]="'commented by:'+comment.name">
                </div>

                <div>
                    <div>
                        <div fxLayout fxLayoutAlign="space-between">
                            <div>{{comment.name}}</div>
                            <div>{{comment.date | date}}</div>
                        </div>

                    </div>


                    <div>
                        <span class="mat-small">
                            {{comment.comment}}
                        </span>
                    </div>
                </div>
            </div>

            <mat-divider></mat-divider>

        </div>
    </section>

</mat-card>