<mat-card class="content">    
    <div class="search-container">
        
        
        
        <mat-form-field class="search-container">
            <mat-label>Search</mat-label>
            <input [formControl]="searchPhrase$" matInput placeholder="Search" type="search" aria-label="search">
        </mat-form-field>

        <div class="progress-container">
            <mat-progress-bar *ngIf="isInProgress" mode="indeterminate" color="warn"></mat-progress-bar>
        </div>
    </div>

    

    <section *ngIf="articles.length>0" fxLayout="row wrap">
        <section class="news-mini-card" fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33" *ngFor="let article of articles">
            <a routerLink="/article" [state]="article">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1080">
                    <image  class="news-mini-img" x="0" y="0" width="100%"  [attr.href]="article.urlToImage" [attr.alt]="article.title" preserveAspectRatio="xMidYMid slice"></image>     
                </svg>
            </a>
            <div class="news-mini-info-container">
                <div class="news-mini-info">
                    <h6 class="mat-small">
                        {{article.source.name | uppercase}}, {{article.publishedAt |  date}}
                    </h6>
                    <h2 class="mat-title text-overflow">
                        {{article.title | uppercase}}
                    </h2>
    
                    <h4 class="mat-h4">
                        {{article.description}}
                    </h4>
                </div>
            </div>
        </section>
    </section>


    <section *ngIf="articles.length==0" fxLayout fxLayoutAlign="center">
        <h3 class="mat-h3" *ngIf="!isDataError && !isInProgress">No articles found for "{{searchPhrase$.value}}"</h3>
        <h3 class="mat-h3" *ngIf="isInProgress">Getting data</h3>
        <div *ngIf="isDataError">
            <h3 class="mat-h3" >Error</h3>
            <pre class="error-obj-info">{{errorObj | json}}</pre>
        </div>
    </section>

    <div>

    </div>


    <!-- Search mat input with debouncing and mat progress bar for loading -->
    <!-- List of fetched articles as snippets per the provided designs -->
    <!-- No results indication -->

</mat-card>
